@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.family-font{
    font-family: 'Mulish', sans-serif;
}

body{
    background: #F2B705;
    font-family: 'Roboto', sans-serif;
}
#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

#logo{
    width: 394px;
    height: 347px;
    left: 10px;
    top: 39px;
}

#session{
    position: absolute;
    width: 414px;
    height: 500px;
    left: 0px;
    top: 396px;

    background: #FFFFFF;
    border-radius: 60px 60px 0px 0px;
}
.into-session{
    padding: 0 2.375rem 0 2.375rem  ;
}
#welcome{
    margin-top: 55px;

    height: 38px;
    top: 55px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

#description{
    margin-top: 7px;
    height: 31px;
    top: 93px;
    
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    color: #720201;
}
#inputs{
    margin-top: 1rem;
}
.input{
    width: 338px;
    height: 60px;
    background: #EAEAEA;
    border: 0px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    padding: 0 1.5rem 0 1.5rem;
}
#email{
    top: 142px;
    margin-bottom: 30px;
}
#pass{
    top: 230px;
}

a{
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #244BC0;
}
.anchor{
    margin-top: 7px;
}

#btn-access{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 60px;
    background: #3F7F00;
    border: 0px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}